[submodule "home/home-manager"]
	path = home/home-manager
	url = https://github.com/rycee/home-manager.git
[submodule "home/config/emacs"]
	path = home/config/emacs
	url = git@github.com:xantoz/emacsrc.git
[submodule "home/config/xterm"]
	path = home/config/xterm
	url = git@github.com:xantoz/xtermrc
[submodule "home/config/ratpoison"]
	path = home/config/ratpoison
	url = git@github.com:xantoz/ratpoisonrc
[submodule "home/config/dotfiles"]
	path = home/config/dotfiles
	url = git@github.com:xantoz/dotfiles.git
[submodule "nixpkgs"]
	path = nixpkgs
        url = https://github.com/NixOS/nixpkgs.git
[submodule "home/config/webmacs"]
	path = home/config/webmacs
	url = git@github.com:xantoz/webmacs-conf.git
[submodule "home/config/mpv-tools"]
	path = home/config/mpv-tools
	url = git@github.com:xantoz/mpv-tools.git
[submodule "machines/sumireko/wip-pinebook-pro"]
	path = machines/sumireko/wip-pinebook-pro
	url = https://github.com/samueldr/wip-pinebook-pro.git
